.dashboard-container {
  min-height: 90vh;
  padding: 120px 20px 60px;
  background: url("../assets/img/LOGO_BARBA.png") center center no-repeat;
  background-size: 95vh;
  text-align: center;
  animation: fadeIn .8s ease;
}

.dashboard-container h2 {
  margin: 60px 120px 15px;
  font-size: 2.3rem;
  background: rgba(17, 17, 17, 0.85);
  width: 75%;
  border-radius: 12px;
}

.dashboard-card {
  background: rgba(17, 17, 17, 0.85);
  max-width: 700px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(255,215,0,0.25);
}

.dashboard-card h3 {
  margin-bottom: 20px;
  text-align: left;
}

.create-btn{
  background: rgb(197, 162, 35);
  border: none;
  padding: 8px 12px;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity .2s;
  margin-bottom: 15px;
}

.appointments-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.appointment-item {
  background: #000;
  border: 1px solid #333;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform .2s ease;
}

.appointment-item:hover {
  transform: scale(1.01);
}

.appointment-item p {
  color: #ccc;
  margin: 4px 0;
}

.status {
  color: #4caf50;
  font-size: 0.85rem;
}

.cancel-btn {
  background: #ffd700;
  border: none;
  padding: 8px 12px;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity .2s;
}

.cancel-btn:hover {
  opacity: 0.8;
}

.empty {
  color: #aaa;
  padding: 20px;
}

.logout-btn {
  margin-top: 20px;
  padding: 10px 15px;
  background: #ffd700;
  color: #000;
  border: none;
  cursor: pointer;
  transition: opacity .2s;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
