* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: rgb(197, 162, 35);
}

body {
  background: #16221b;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.btn {
  padding: 10px 15px;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #333;
}
