.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.438);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn 1.2s ease;
}

.hero-overlay h1 {
  font-size: 4rem;
  letter-spacing: 3px;
}

.hero-overlay h2 {
  color: white;
  margin-top: 10px;
  font-weight: 300;
}

.services {
  padding: 80px 0;
}

.services h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.service-card {
  background: #111;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  transition: transform .3s ease, box-shadow .3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.service-card h4 {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.service-card button {
  background: rgb(197, 162, 35);
  color: #000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background .3s;
  border-radius: 5px;
}

.service-card button:hover {
  background: #ffcc00;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
