.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0a0f0c;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  z-index: 10;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 5px;
  
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  ;
}

.navbar a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  height: 100%;
  justify-content: center;
}

.navbar a:hover {
  color: #ffd700;
}



.logo-img{
     width: 100px; 
     height: 100px; 
     object-fit: contain; 
     margin-bottom: 1px;
    }
